version: 2
jobs:
  test:
    machine: true
    working_directory: ~/project
    steps:
      - checkout
      - run:
          name: Test Node build
          command: |
            source ~/.bashrc
            nvm i node
            npx envinfo
            git clone https://github.com/nodejs/node --depth=10
            cd node
            docker run --rm --name build-node -v $PWD:/pwd -w /pwd gengjiawen/node-build bash -c "./configure --enable-asan --debug
 && make -j4 && make test"

workflows:
  version: 2
  perfs:
    jobs:
      - test
